/*
*   Abricotine - Markdown Editor
*   Copyright (c) 2015 Thomas Brouard
*   Licensed under GNU-GPLv3 <http://www.gnu.org/licenses/gpl.html>
*/

// Abricotine Dark Theme

// USER INTERFACE
// ==============

// Main
@ui-font-size: 14px;
@ui-background-color: #282C34;

// Pane
@ui-pane-color: #b0bcd0;
@ui-pane-background-color: #21252B;
@ui-pane-border-color: #181A1F;
.ui-pane-item() {
}
.ui-pane-item-hover() {
    background: #181A1F;
    box-shadow: none;
    text-shadow: none;
}
.ui-pane-item-active() {
    background: #e60;
    color: #fff;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

// CodeMirror dialogs
@ui-dialog-color: @ui-pane-color;
@ui-dialog-background: @ui-pane-background-color;
@ui-dialog-button-background: #181A1F;
@ui-dialog-button-focus-background: #0e0f12;
@ui-dialog-button-color: #b0bcd0;
@ui-dialog-border-color: @ui-pane-border-color;

// Scrollbars
@ui-scrollbar-track-color: #181A1F;
@ui-scrollbar-color: #747d8c;
@ui-scrollbar-hover-color: @ui-scrollbar-color;
@ui-scrollbar-width: 10px;
@ui-scrollbar-search-background: #F19414;

// EDITOR
// ======

// Text
@editor-font-family: "Fira Code", Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
@editor-ligatures: true;
@editor-text-color: #b0bcd0;
@editor-background-color: #282C34;

// Headers
.editor-headers() {
    color: #b0bcd0;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}
.editor-header-1() {
    font-size: 300%;
}
.editor-header-2() {
    font-size: 220%;
}
.editor-header-3() {
    font-size: 180%;
}
.editor-header-4() {
    font-size: 150%;
}
.editor-header-5() {
    font-size: 130%;
}
.editor-header-6() {
    font-size: 110%;
}

// Code
@editor-code-font-family: "Courier New", Courier, "Liberation Mono", monospace;

.editor-code() {
    color: #cc1e5c;
    font-weight: bold;
}

.codeblock, .codeblock-start, .codeblock-end {
  background: #292E36;
}

// Quote
.editor-quote() {
    color: #747d8c;
}

// List
@editor-list-padding-left: 20px;
@editor-list-checked-color: #9ca8bb;
.editor-list() {
    color: auto;
}
.editor-list-checked() {
    text-decoration: line-through;
}

// Horizontal rule
.editor-hr() {
    color: #747d8c;
}

// Image
.editor-image() {
    color: #D09965;
}

// Link and URL
.editor-link() {
    color: #4187cd;
}
.editor-link-href() {
    color: #747d8c;
}

// Text formating
.editor-em() {};
.editor-strong() {};
.editor-strikethrough() {};

// Formatting marks and hidden characters
@editor-formatting-color: #f60;
@editor-hidden-characters-color: #f60;

// Cursors and selections
@editor-cursor-color: #f60;
@editor-cursor-width: 2px;
.editor-selection() {
    background-color: #2C323C;
}
.editor-searching() {
    background: transparent;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}

// Show blocks option
@editor-block-margin-color: #3b4452;
@editor-block-margin-size: 5px;

// Errors
@error-color: #c00;
@error-color-contrast: #eee;

// CodeMirror code highlighting
@cm-atom-color: #e1c76e;
@cm-attribute-color: #b9ca4a;
@cm-builtin-color: #214e7b;
@cm-bracket-color: #cc7;
@cm-comment-color: #97a3aa;
@cm-def-color: #b9ca4a;
@cm-header-color: #6a0d6a;
@cm-hr-color: #888;
@cm-keyword-color: #eee;
@cm-link-color: #e1c76e;
@cm-meta-color: #555;
@cm-node-color: #e8e8e8;
@cm-number-color: #6cb5d9;
@cm-operator-color: #9179bb;
@cm-property-color: #eee;
@cm-punctuation-color: auto;
@cm-qualifier-color: #555;
@cm-quote-color: #186718;
@cm-string-color: #b9ca4a;
@cm-string-2-color: #6cb5d9;
@cm-tag-color: #e8e8e8;
@cm-variable-color: #6cb5d9;
@cm-variable-2-color: #cc1e5c;
@cm-variable-3-color: #f9602c;
@cm-negative-color: #d44;
@cm-positive-color: #292;
